<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>hostel-manage-system</display-name>
  <welcome-file-list>
    <welcome-file>admin.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>studentCreatePassword</display-name>
    <servlet-name>studentCreatePassword</servlet-name>
    <servlet-class>com.in.studentCreatePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentCreatePassword</servlet-name>
    <url-pattern>/studentCreatePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentCreate</display-name>
    <servlet-name>studentCreate</servlet-name>
    <servlet-class>com.in.studentCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentCreate</servlet-name>
    <url-pattern>/studentCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.login.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getServlet</display-name>
    <servlet-name>getServlet</servlet-name>
    <servlet-class>com.get.getServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getServlet</servlet-name>
    <url-pattern>/getServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveServlet</display-name>
    <servlet-name>saveServlet</servlet-name>
    <servlet-class>com.app.saveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveServlet</servlet-name>
    <url-pattern>/saveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentServlet</display-name>
    <servlet-name>studentServlet</servlet-name>
    <servlet-class>com.stud.studentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentServlet</servlet-name>
    <url-pattern>/studentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentDetails</display-name>
    <servlet-name>studentDetails</servlet-name>
    <servlet-class>com.stud.studentDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentDetails</servlet-name>
    <url-pattern>/studentDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeFname</display-name>
    <servlet-name>changeFname</servlet-name>
    <servlet-class>com.update.changeFname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeFname</servlet-name>
    <url-pattern>/changeFname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeLname</display-name>
    <servlet-name>changeLname</servlet-name>
    <servlet-class>com.update.changeLname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeLname</servlet-name>
    <url-pattern>/changeLname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeFather</display-name>
    <servlet-name>changeFather</servlet-name>
    <servlet-class>com.update.changeFather</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeFather</servlet-name>
    <url-pattern>/changeFather</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeDob</display-name>
    <servlet-name>changeDob</servlet-name>
    <servlet-class>com.update.changeDob</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeDob</servlet-name>
    <url-pattern>/changeDob</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeProfile</display-name>
    <servlet-name>changeProfile</servlet-name>
    <servlet-class>com.update.changeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeProfile</servlet-name>
    <url-pattern>/changeProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeEmail</display-name>
    <servlet-name>changeEmail</servlet-name>
    <servlet-class>com.update.changeEmail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeEmail</servlet-name>
    <url-pattern>/changeEmail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeBranch</display-name>
    <servlet-name>changeBranch</servlet-name>
    <servlet-class>com.update.changeBranch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeBranch</servlet-name>
    <url-pattern>/changeBranch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeMess</display-name>
    <servlet-name>changeMess</servlet-name>
    <servlet-class>com.update.changeMess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeMess</servlet-name>
    <url-pattern>/changeMess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeHostel</display-name>
    <servlet-name>changeHostel</servlet-name>
    <servlet-class>com.update.changeHostel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeHostel</servlet-name>
    <url-pattern>/changeHostel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeRoom</display-name>
    <servlet-name>changeRoom</servlet-name>
    <servlet-class>com.update.changeRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeRoom</servlet-name>
    <url-pattern>/changeRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStudent</display-name>
    <servlet-name>deleteStudent</servlet-name>
    <servlet-class>com.delete.deleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStudent</servlet-name>
    <url-pattern>/deleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>messDetailServlet</display-name>
    <servlet-name>messDetailServlet</servlet-name>
    <servlet-class>com.mess.messDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>messDetailServlet</servlet-name>
    <url-pattern>/messDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hostelDetailsServlet</display-name>
    <servlet-name>hostelDetailsServlet</servlet-name>
    <servlet-class>com.hostels.hostelDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hostelDetailsServlet</servlet-name>
    <url-pattern>/hostelDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentDetailsShow</display-name>
    <servlet-name>studentDetailsShow</servlet-name>
    <servlet-class>com.studentsee.studentDetailsShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentDetailsShow</servlet-name>
    <url-pattern>/studentDetailsShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentLoginCheck</display-name>
    <servlet-name>studentLoginCheck</servlet-name>
    <servlet-class>com.login.studentLoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentLoginCheck</servlet-name>
    <url-pattern>/studentLoginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDetailsIndi</display-name>
    <servlet-name>StudentDetailsIndi</servlet-name>
    <servlet-class>com.studentunique.StudentDetailsIndi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDetailsIndi</servlet-name>
    <url-pattern>/StudentDetailsIndi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>link1</display-name>
    <servlet-name>link1</servlet-name>
    <servlet-class>com.hostels.link1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>link1</servlet-name>
    <url-pattern>/link1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>link2</display-name>
    <servlet-name>link2</servlet-name>
    <servlet-class>com.hostels.link2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>link2</servlet-name>
    <url-pattern>/link2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>link3</display-name>
    <servlet-name>link3</servlet-name>
    <servlet-class>com.hostels.link3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>link3</servlet-name>
    <url-pattern>/link3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>link4</display-name>
    <servlet-name>link4</servlet-name>
    <servlet-class>com.hostels.link4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>link4</servlet-name>
    <url-pattern>/link4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>link5</display-name>
    <servlet-name>link5</servlet-name>
    <servlet-class>com.hostels.link5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>link5</servlet-name>
    <url-pattern>/link5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>link6</display-name>
    <servlet-name>link6</servlet-name>
    <servlet-class>com.hostels.link6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>link6</servlet-name>
    <url-pattern>/link6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>link7</display-name>
    <servlet-name>link7</servlet-name>
    <servlet-class>com.hostels.link7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>link7</servlet-name>
    <url-pattern>/link7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>link8</display-name>
    <servlet-name>link8</servlet-name>
    <servlet-class>com.hostels.link8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>link8</servlet-name>
    <url-pattern>/link8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>link9</display-name>
    <servlet-name>link9</servlet-name>
    <servlet-class>com.hostels.link9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>link9</servlet-name>
    <url-pattern>/link9</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>link10</display-name>
    <servlet-name>link10</servlet-name>
    <servlet-class>com.hostels.link10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>link10</servlet-name>
    <url-pattern>/link10</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>link11</display-name>
    <servlet-name>link11</servlet-name>
    <servlet-class>com.hostels.link11</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>link11</servlet-name>
    <url-pattern>/link11</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getRoomDetails</display-name>
    <servlet-name>getRoomDetails</servlet-name>
    <servlet-class>com.room.getRoomDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getRoomDetails</servlet-name>
    <url-pattern>/getRoomDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeYear</display-name>
    <servlet-name>changeYear</servlet-name>
    <servlet-class>com.update.changeYear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeYear</servlet-name>
    <url-pattern>/changeYear</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>oldstudentServlet</display-name>
    <servlet-name>oldstudentServlet</servlet-name>
    <servlet-class>com.oldstudent.oldstudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oldstudentServlet</servlet-name>
    <url-pattern>/oldstudentServlet</url-pattern>
  </servlet-mapping>
</web-app>